h1 {
    font-size: 1.5em;
    color:  #a62bd7;
    padding: 0 0 8px;
    margin: 0;
}
h1, h2 {
    font-family: sans-serif;
    letter-spacing: -1px;
}
h1 {
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}
.page {
    min-height: 27.46cm;
    width: 17.7cm;
    padding: 1.12cm 1.65cm;
    margin: 60px auto;
    background: var(--cosmos-ref-color-whiteSolid700);
    border-radius: 2px;
    box-shadow: var(--cosmos-shadow-heavy-1dp);
    position: relative;
}
body {
    margin: 0;
    background: #f1f1f1;
    word-wrap: break-word;
    font: 12px / 1 sans-serif;
}
h2 {
    font-size: 1.25em;
    color: #a62bd7;
    padding: 0 0 30px;
    margin: 0;
}
h1, h2 {
    font-family: sans-serif;
    letter-spacing: -1px;
}
h2 {
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}
/*cor do nome da musica*/

/*letra*/
.filter~.page {
    margin-top: 30px;
}
@media (max-width: 1300px) {
    .filter, .page {
        transform: translateX(-100px);
    }
}
.--fontSizeMedium {
    font-size: 12pt;
}
.--fontFamilyArial {
    font-family: sans-serif;
}
.page {
    min-height: 27.46cm;
    width: 17.7cm;
    padding: 1.12cm 1.65cm;
    margin: 60px auto;
    background: var(--cosmos-ref-color-whiteSolid700);
    border-radius: 2px;
    box-shadow: var(--cosmos-shadow-heavy-1dp);
    color: var(--cosmos-ref-color-neutral600);
    position: relative;
}
div {
    display: block;
    unicode-bidi: isolate;
}
body {
    margin: 0;
    background: #f1f1f1;
    word-wrap: break-word;
    font: 12px / 1 sans-serif;
}
.page-header {
    padding-right: 140px;
}
div {
    display: block;
    unicode-bidi: isolate;
}
.--fontSizeMedium {
    font-size: 12pt;
}
.--fontFamilyArial {
    font-family: sans-serif;
}
.page {
    min-height: 27.46cm;
    width: 17.7cm;
    padding: 1.12cm 1.65cm;
    margin: 60px auto;
    background: var(--cosmos-ref-color-whiteSolid700);
    border-radius: 2px;
    box-shadow: var(--cosmos-shadow-heavy-1dp);
    color: var(--cosmos-ref-color-neutral600);
    position: relative;
}
body {
    margin: 0;
    background: #f1f1f1;
    word-wrap: break-word;
    font: 12px / 1 sans-serif;
    color: rgb(42, 42, 42);
}
.page.isTranslation .page-container+.page-container {
    text-align: left;
    display: block;
}
.page.--doubleColumn .page-container+.page-container, .page.isTranslation .page-container+.page-container {
    margin-left: 4%;
}
.page.--doubleColumn .page-container, .page.isTranslation .page-container {
    float: left;
    width: 48%;
}
.--fontSizeMedium .page-container {
    line-height: 1.5;
}
.page-container {
    min-height: 760px;
}
div {
    unicode-bidi: isolate;
}
.--fontSizeMedium {
    font-size: 12pt;
}
.--fontFamilyArial {
    font-family: sans-serif;
}
.page {
    min-height: 27.46cm;
    width: 17.7cm;
    padding: 1.12cm 1.65cm;
    margin: 60px auto;
    background: var(--cosmos-ref-color-whiteSolid700);
    border-radius: 2px;
    box-shadow: var(--cosmos-shadow-heavy-1dp);
    position: relative;
}
body {
    margin: 0;
    background: #f1f1f1;
    word-wrap: break-word;
    font: 12px / 1 sans-serif;
}
 .page.--doubleColumn:after, .page.isTranslation:after {
    content: "";
    width: 100%;
    height: 1px;
    display: block;
    clear: both;
}