<html>
<head>
<style>
body {
  background-color: hsl(0, 0%, 0%);
}

h1 {
  color: white;
  text-align: center;
}

p {
  color: white;
  font-size: 20px;
}
</style>
</head>
<body>

<h1>perequta</h1>
<p>xoxota.</p>

</body>
</html>
