
/* Adicione isso ao final do seu arquivo style.css */

/* Estilos para telas pequenas (até 600px) */
@media screen and (max-width: 600px) {
  .sidenav {
    width: 100%;
  }

  .button-container {
    text-align: center;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .top-list_mus a {
    padding: 12px;
  }

  .top-list_mus a:before {
    left: 12px;
  }

  .top-list_mus b {
    max-width: 100%;
  }

  .top-list_mus span {
    margin-top: 4px;
  }

  .top-list-container {
    margin: 0 10px;
  }
}

/* Estilos para telas médias (de 601px a 1024px) */
@media screen and (min-width: 601px) and (max-width: 1024px) {
  .button-container {
    text-align: center;
  }

  .top-list_mus a {
    padding: 12px;
  }

  .top-list_mus a:before {
    left: 12px;
  }

  .top-list_mus b {
    max-width: 100%;
  }

  .top-list_mus span {
    margin-top: 4px;
  }

  .top-list-container {
    margin: 0 20px;
  }
}
