.header {
  background-color: blueviolet;
  color:rgb(253, 255, 255)
  padding: 20px 0;
  text-align: center;
}

/*começo do menu*/
body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #000000;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #b0aeae;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
/*fim do menu*/
/*começo do botão*/
body {
    background-color: #fafafa;
    color: #2a2a2a;
}
.button-container {
  text-align: center; /* Centralizar os botões horizontalmente */
}
.button {
  background-color: #ffffff;
  border-color: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}

.button:hover {
  background-color: #7e7e7e;
}
/*fim do botao*/
/*coemço da imagem*/
img {
  max-width: 70%;
  height: auto;
  border-radius: 10px;
}
/*fim fa imagem*/
.top-list_mus li {
  counter-increment: tlmus;
}
li {
  display: list-item;
  text-align: -webkit-match-parent;
  unicode-bidi: isolate;
}
ul, ol {
  list-style: none;
}
ol, ul {
  list-style: none;
}
.top-list_mus a {
  padding: 12px 16px 12px 64px;
  position: relative;
  text-decoration: none;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}
.top-list_mus a:before {
  content: counter(tlmus, decimal);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 4px;
  left: 4px;
  height: 56px;
  width: 56px;
  font-family: "Lato", Arial, sans-serif;
  font-size: 44px;
  color: var(--cosmos-ref-color-neutral400);
}
{
    font-family: Inter, "Noto Sans", Arial, Roboto, sans-serif;
    font-style: normal;
    font-size: 1.6rem;
    letter-spacing: -0.0176rem;
    font-weight: 650;
    --typography: "cosmos-ref-typography-baseStrong16";
    line-height: 2rem;
}
.top-list_mus b {
  max-width: 330px;
  color: var(--cosmos-ref-color-letrasSecondary600contrast);
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
ul, ol {
    list-style: none;
}
.top-list_mus span {
  color: var(--cosmos-ref-color-neutral400);
  margin-top: 4px;
}
.top-list_mus a, .top-list_mus .b, .top-list_mus span {
  display: block;
}
.top-list_mus a {
  padding: 12px 16px 12px 64px;
  position: relative;
  text-decoration: none;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}
.top-list_mus li {
  counter-increment: tlmus;
}
li {
  display: list-item;
  text-align: -webkit-match-parent;
  unicode-bidi: isolate;
}
ul, ol {
  list-style: none;
}
.top-list_mus:not(.--top) {
  width: 65.89%;
  column-count: 2;
  column-gap: 24px;
  margin-left: auto;
  margin-right: auto;
}

ul, ol {
    list-style: none;
}

/*botão marcio*/
button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #550202;
  color: #f8f8f8;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  }
  .container {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  }
  /*botão marcio*/

